---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Quanjing Chen</div>
    <div class="text-3xl py-3 font-bold">Software Engineer with a PhD in Brain & Cognitive Sciences</div>
    <div class="py-2">
      <text class="text-lg">
        As a Software Engineer with a background in cognitive neuroscience and machine learning, I've transitioned from investigating the complexities of the human brain to architecting sophisticated and intuitive software solutions. I'm passionate about leveraging my unique expertise to design and develop innovative solutions that can positively impact people's lives.
      </text>
    </div>
    <div class="mt-8 grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 sm:gap-8">
      <a class="btn" href="https://www.linkedin.com/in/quanjingchen/" target="_blank"> Let's connect!</a>
      <a href="https://github.com/quanjingchen" target="_blank" class="btn bg-black text-white hover:bg-grey-500 hover:text-black">
        My Github
      </a>
      <a href="https://scholar.google.com/citations?user=A5rHKSIAAAAJ&hl=en" target="_blank" class="btn btn-outline hover:bg-slate-200 hover:text-black">
        My Publication
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="HeartBeat"
    img="/project1.png"
    desc="An AI powered web platform connecting nurses with employers, offering mock interview, real-time chat and mapping functionality."
    url="https://heartbeatnurse.vercel.app"
    badge="On-going"
    role="Full-Stack Developer"
    git="https://github.com/Nurse-HeartBeat/FrontEnd"
    live="https://heartbeatnurse.vercel.app"
    tags={["Next.js", "TypeScript", "Django", "GraphQL", "CI/CD","TailWind", "PostgreSQL"]}
  />
  <div class="divider my-0"></div>

  <HorizontalCard
    title="BurnIt"
    img="/project2.png"
    desc="A mobile chatbot that tracks daily physical activity and calorie intake, and offers personalized recommendations with ChatGPT."
    url="https://github.com/quanjingchen/BurnIt"
    badge="iOS/Android"
    role="Full-Stack Developer"
    tags={["AI", "React Native", "Firebase", "Redux", "Node.js", "Express.js", "MongoDB"]}
    git="https://github.com/quanjingchen/BurnIt"
    demo="https://youtu.be/McvzeZEbzJM"
  />
  <div class="divider my-0"></div>
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Atelier API Extension"
    img="/project3.png"
    desc="Designed and optimized an scalable API server and database to support an e-commerce application with millions of products."
    url="https://github.com/2212-SCO/Review"
    badge="Scalable"
    role="Back-End Developer"
    tags={["Node.js", "Restful API", "Redis", "Nginx", "AWS EC2", "PostgreSQL"]}
    git="https://github.com/2212-SCO/Review"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + post.slug}
          target="_self"
          badge={post.data.badge}
          dd={post.data.pubDate}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
