---
const { title, img, role, tech, desc, url, badge, git, live, demo, online, tags, target = "_blank" } = Astro.props;
import { Image } from "@astrojs/image/components";
---

<div
  class="rounded-lg bg-base-100 hover:shadow-xl transition ease-in-out hover:scale-[102%]"
>
  <a href={url} target={target}>
    <div class="hero-content flex-col md:flex-row">
      {
        img && (
          <Image
            src={img}
            aspectRatio="5:3"
            width={750}
            format="webp"
            alt={title}
            class="max-w-full md:max-w-[13rem] rounded-lg"
          />
        )
      }
      <div class="grow w-full">
        <h1 class="text-xl font-bold">
          {title}
          {badge && <div class="badge badge-secondary mx-2">{badge}</div>}
          {live && <a class="text-pink-500 hover:text-pink-700 underline" href={live}>Live</a>}
          {demo && <a class="text-green-500 hover:text-green-700 underline" href={demo}>Demo</a>}
          {git && <a class="text-blue-500 hover:text-blue-700 underline" href={git}>GitHub</a>}
          {online && <a class="text-orange-500 hover:text-orange-700 underline" href={online}>Online</a>}
        </h1>
        <p class="py-1 text-1xl font-semibold">{role}</p>
        <span class="text-sm">{tech} </>
        <p class="text-1xl">{desc}</p>
        <div class="card-actions justify-end">
          {
            tags &&
              tags.map((tag) => <div class="badge badge-outline">{tag}</div>)
          }
        </div>
      </div>
    </div>
  </a>
</div>
